/.git

/dev-support/
/.clang-format
/.codespellrc
/.direnv
/.dockerignore
/.editorconfig
/.envrc
/.gitignore
/.pre-commit-config.yaml
/.prettierignore
/.shellcheckrc
/.tokeignore
/LICENSE
/README.md
/commitlint.config.js
/flake.lock
/flake.nix
/taplo.toml
/treefmt.toml

/.cargo/
!/.cargo/config.toml
/rustfmt.toml
/target/
**/*.rs.bk
*.pdb
